In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv('Car_sales.csv')

In [14]:
#1. Read top five values
df.head(5)

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15

In [15]:
#2. Print dataframe info_data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB

In [16]:
#3. Print number of rows and columns
rows,cols=df.shape
print(f"number of rows and cols {rows},{cols}")

number of rows and cols 157,15

In [17]:
#4. Drop duplicate rows_if any
df_cleaned=df.drop_duplicates()
print(df_cleaned)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [19]:
#5. Print number of rows and columns after dropping duplicates
rowsdrp,colsdrp=df_cleaned.shape
print(f"no of rows X cols {rows},{cols}")

no of rows X cols 157,15

In [20]:
#6. Print summary statistics for numerical variables
df.describe()

       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [21]:
#7. Print number of missing values in each column
missed=df.isnull().sum()
print(missed)

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [22]:
#8. Drop the column with most missing values
mostmiss=df.isnull().sum().idxmax()
befdrop=df.info()
df_dropcol=df.drop(columns=[mostmiss])
print("after drop")
df_dropcol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB
after drop
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Model                157 non-null    object
 1   Sales in thousands   157 non-null    float64
 2   4-year resale value  157 non-null    object
 3   Vehicle type         157 non-null    object
 4   Price in thousands   157 non-null    object
 5   Engine size          157 non-null    object
 6   Horsepower           157 non-null    object
 7   Wheelbase            157 non-null    object
 8   Width                157 non-null    object
 9   Length               157 non-null    object
 10  Curb weight          157 non-null    object
 11  Fuel capacity        157 non-null    object
 12  Fuel efficiency      157 non-null    object
 13  Latest Launch        157 non-null    object
dtypes: float64(1), object(13)
memory usage: 17.3+ KB

In [25]:
#9. Drop the rows with categorical missing values
categorical_cols=df.select_dtypes(include="object").columns
print(categorical_cols)
df_cat_miss=df.dropna(axis=0,subset=categorical_cols,how='any')
print(df_cat_miss)

Index(['Manufacturer', 'Model', '4-year resale value', 'Vehicle type',
       'Price in thousands', 'Engine size', 'Horsepower', 'Wheelbase', 'Width',
       'Length', 'Curb weight', 'Fuel capacity', 'Fuel efficiency',
       'Latest Launch'],
      dtype='object')
      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

In [26]:
#10. Import the rows with numerical missing values
numerical_cols=df.select_dtypes(include="number").columns
df_missing_numerical=df[df[numerical_cols].isnull().any(axis=1)]
print(df_missing_numerical)

Empty DataFrame
Columns: [Manufacturer, Model, Sales in thousands, 4-year resale value, Vehicle type, Price in thousands, Engine size, Horsepower, Wheelbase, Width, Length, Curb weight, Fuel capacity, Fuel efficiency, Latest Launch]
Index: []

In [28]:
#11. Sort the data w.r.t price_find the details of the most and the least expensive cars
df=df.dropna(subset=["Price in thousands"])
df['Price in thousands']=pd.to_numeric(df['Price in thousands'],errors='coerce')
df_sort_price=df.sort_values(by="Price in thousands")
lowp=df_sort_price.iloc[0]
highp=df_sort_price.iloc[-1]
print(lowp,highp)

Manufacturer               Chevrolet
Model                  Metro
Sales in thousands                21.855
4-year resale value                 5.16
Vehicle type                   Passenger
Price in thousands                 9.235
Engine size                            1
Horsepower                            55
Wheelbase                           93.1
Width                               62.6
Length                             149.4
Curb weight                        1.895
Fuel capacity                       10.3
Fuel efficiency                       45
Latest Launch                  13-Apr-14
Name: 26, dtype: object Manufacturer               Chrysler
Model                  Town & Country
Sales in thousands                 53.48
4-year resale value                19.54
Vehicle type                         Car
Price in thousands                   NaN
Engine size                            .
Horsepower                             .
Wheelbase                              .
Width                                  .
Length                                 .
Curb weight                            .
Fuel capacity                          .
Fuel efficiency                        .
Latest Launch                  13-Jul-15
Name: 33, dtype: object

In [ ]:
#12. Write a function to find min and max values of any column